.col-md-6{
  border: 1px grey dotted;
  margin: 5%;
  width:22%;
  padding: 2%;
}
img{
  width:90%;
  padding-left:7%;
  padding-bottom: 5%;
}
button{
  display: inline-block;
}

.container {
  width:80%;
  margin-left: 15%;
  margin-bottom: 5%;
}
.col-md-6{
  text-align: center;
}
.product {
  width:80%;
  border-top: dotted grey 1px;
  border-bottom: dotted grey 1px;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 2%;
}

.main{
  text-align: right;
}

.title{
  text-align: right;
}
.bottom{
  margin-left: 45%;
}
h1 , h2{
  color: grey;
}
h4{
  color: lightgrey;
}
input{
  text-align: left;
  width:35%;
}
