<div class="title">
<a href = "elizabeth-evans.github.io/etsyAngular/#/"><button type="button" class="btn btn-lg btn-warning">Back</button></a>
<a href = "elizabeth-evans.github.io/etsyAngular/#/cart"><button type="button" class="btn btn-lg btn-primary">Go to Cart</button></a>
</div>
<h2>An Etsy Product</h2>


<div class='product'>
<img ng-src="{{listing.MainImage.url_fullxfull}}" charset="utf-8"/>
<p> Title: {{listing.title}} </p>
<p> Description: {{listing.description}} </p>
<p> Price: $ {{listing.price}} </p>
<p> Materials Used: {{ listing.materials.toString('') || "no materials listed" }} </p>
<p><a href = "{{listing.url}}">Check it out on Etsy</a> </p>
</div>


<div class="bottom">
<a href = "elizabeth-evans.github.io/etsyAngular/#/"><button type="button" class="btn btn-lg btn-warning">Back</button></a>
<button type="button" ng-click="addToCart(listing)" class="btn btn-lg btn-success">Add to Cart</button>
<a href = "elizabeth-evans.github.io/etsyAngular/#/cart"><button type="button" class="btn btn-lg btn-primary">Go to Cart</button></a>
</div>
